@font-face{
	src: url("./fonts/AvenirNext/AvenirNextCyr-Regular.ttf");
	font-family:AvenirNext;
	font-weight: 400;
}
@font-face{
	src: url("./fonts/AvenirNext/AvenirNextCyr-Light.ttf");
	font-family:AvenirNext;
	font-weight: 100;
}
@font-face{
	src: url("./fonts/OpenSans/OpenSans-Bold.ttf");
	font-family:OpenSans;
	font-weight: 700;
}

@font-face{
	src: url("./fonts/OpenSans/OpenSans-Regular.ttf");
	font-family:OpenSans;
	font-weight: 400;
}
@font-face{
	src: url("./fonts/ProximaNova/ProximaNova-Reg.ttf");
	font-family:ProximaNova;
	font-weight: 400;
}
@font-face{
	src: url("./fonts/OpenSans/OpenSans-Light.ttf");
	font-family:OpenSans;
	font-weight: 100;
}	
.menu-link {
	color:white;
	font-size: 13px;
	text-transform: uppercase;
	margin: 30px 40px 0 40px;
	font-family: AvenirNext, san-serif;
	font-weight: 400;

}

.header{
	display: flex;
	justify-content: space-between;


}
 

.menu{
	display: flex;
	width: 700px;
	justify-content: space-between;
	list-style: none;
	margin: 30px 60 0 40px;
}

.background-image{
	background-image: url("./images/background.jpg");
	height: 890px;
	
	background-repeat: no-repeat;
	background-size: cover;
} 

.title{
	color: white;
	text-transform: uppercase;
	font-size: 40px;
	margin: 500px 0 0 40px;
	font-family: AvenirNext, san-serif;
	font-weight: 100;
}

.subtitle{
	color: white;
	text-transform: uppercase;
	font-size: 15px;
	margin: 10px 0 0 200px;
	font-family: OpenSans, san-serif;
	font-weight: 700;

}
.my-class{
	background: #a2ca28;
	
}
.link-ben{
	color: white;
	text-decoration: none;
	font-family:ProximaNova, san-serif;
	font-weight: 400;

}
.block-link{
	color: white;
	text-transform: none;
	list-style: none;
	margin: 0 auto;
	padding: 0 30px 0 0;


}

.benefits-image{
	height: 60px;
}
.image-hover{
	width: 794px;
	height: 394px;
   
}
.image-hover:before{
	content:'';
	display: block;
	 position: absolute;
	width: 794px;
	height: 394px;
	background: rgba(0, 0, 0, 0.3);
	z-index: 1;
}
.text-hover{
	position: absolute;
	text-align: center;
	z-index: 2;

}
.link{
	color: #a2ca28;
	font-family:OpenSans, san-serif;
	font-weight: 400;
}

.block{
	display: flex;
	justify-content: space-between;
	padding: 60px 0 50px 0px;
	width: 1188px;
	margin: 0 auto;
}
.block-one{
    display: flex;
     
     width: 1188px;
     height: 394px;
     margin: 0 auto;

}


.name{
	font-family:OpenSans, san-serif;
	font-weight: 400;
	text-transform: none;
	font-size: 24px;
}
.name_one{
	font-family:ProximaNova, san-serif;
	font-weight: 400;
	padding: 20px 15px 20px 0;
	font-size: 15px;
	line-height: 1.5;



}
.size{
	padding: 30px 0 0 0;
}
.text-one{
	
    padding: 40px 40px 50px 40px;
	text-align: center;
	background: #fff;
} 
.title-one{
	color: #fd634e;
	font-size: 14px;
	text-transform: uppercase;
	font-family:OpenSans, san-serif;
	font-weight: 100;

}
.name_two{
	font-family:OpenSans, san-serif;
	font-weight: 400;
	padding: 20px 0px 10px 0px;
	font-size: 15px;
	line-height: 1.5;


}
.input_one{
	color: #83969f;
	padding: 10px 20px 10px 20px;
	font-size: 14px;
	font-family:ProximaNova, san-serif;
	font-weight: 400;
	width: 200px;

}
.input_two{
	color: #83969f;
	padding: 10px 20px 10px 20px;
	font-size: 14px;
	font-family:ProximaNova, san-serif;
	font-weight: 400;
	width: 330px;

}
.inform{
	display: flex;
	justify-content: space-between;
}
.button{
	background: #a2ca28;
	font-size: 15px;
	padding: 10px 20px 10px 20px;
	font-family:ProximaNova, san-serif;
	font-weight: 400; 
	color: white;
	width: 183px;

}
.title-two{
	color: #a2ca28;
	font-size: 35px;
	text-transform: uppercase;
	font-family:OpenSans, san-serif;
	font-weight: 100;
}

.menu_two{
	display: flex;

	justify-content: space-between;
	list-style: none;
	margin: 0 auto;
	padding: 0 40px 0px 50px;
	
}
.icon{
	width: 50px;
	height: 50px;
	display: block;
	border-radius: 50%;
	position: relative;
	text-align: center;

}
.icon:before{
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	
	
	
}
.icon-fb{
	background: #15188c;
	
}
.icon-fb:before{
	
	background: ./images/fb.png;
	background-size: 24px 24px;

	width: 24px;
	height: 24px;
	
	margin: -12px 0 0 -12px;

}
.icon-tw{
	background: #199ed0;

}
.icon-tw:before{
	
	background: ./images/tw.png;
	background-size: 20px 20px;
	width: 20px;
	height: 20px;
	
	margin: -10px 0 0 -10px;

}
.icon-yt{
	background: #ed3123;

}
.icon-yt:before{
	
	background: ./images/yt.png;
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
	
	margin: -12px 0 0 -12px;

}
.icon-in{
	background: #171a8f;

}
.icon-in:before{
	
	background: ./images/In.png;
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
	
	margin: -12px 0 0 -12px;

}


.container{
	width: 1188px;
	margin: 0 auto;
	padding: 60px 0px 50px 60px;
	display: flex;
	
}

.my-class-down{
	background: black;
	height: 154px;
}