@font-face{
	src: url("./fonts/AvenirNext/AvenirNextCyr-Regular.ttf");
	font-family:AvenirNext;
	font-weight: 400;
}
@font-face{
	src: url("./fonts/AvenirNext/AvenirNextCyr-Light.ttf");
	font-family:AvenirNext;
	font-weight: 100;
}
@font-face{
	src: url("./fonts/OpenSans/OpenSans-Bold.ttf");
	font-family:OpenSans;
	font-weight: 700;
}

@font-face{
	src: url("./fonts/OpenSans/OpenSans-Regular.ttf");
	font-family:OpenSans;
	font-weight: 400;
}
@font-face{
	src: url("./fonts/ProximaNova/ProximaNova-Reg.ttf");
	font-family:ProximaNova;
	font-weight: 400;
}
@font-face{
	src: url("./fonts/OpenSans/OpenSans-Light.ttf");
	font-family:OpenSans;
	font-weight: 100;

}
.border	{
	min-width: 1000px;
}
.menu-link {
	
	font-size: 13px;
	

	font-family: AvenirNext, sans-serif;
	font-weight: 400;

}

.header{
	display: flex;
	justify-content: space-between;
	color: white;
	text-transform: uppercase;


}
 .navigation{
 	      margin: 19px 67px 0 0;
 }

.menu{
	display: flex;
	width: 507px;
	justify-content: space-between;
	list-style: none;
	padding: 
}

.background-image{
	background-image: url("./images/background.jpg");
	height: 850px;	
	background-repeat: no-repeat;
	background-size: cover;
	padding: 42px 0 0 51px;
	min-width: 1000px;

} 

.title{
	color: white;
	text-transform: uppercase;
	font-size: 40px;
	margin: 596px 0 0 63px;
	font-family: AvenirNext, sans-serif;
	font-weight: 100;
}

.subtitle{
	color: white;
	text-transform: uppercase;
	font-size: 15px;
	margin: 8px 0 0 230px;
	font-family: OpenSans, sans-serif;
	font-weight: 700;
	    letter-spacing: 2px;
	    word-spacing: 3px;


}
.my-class{
	background: #a2ca28;
	
}
.link-ben{
	color: white;
	text-decoration: none;
	font-family:ProximaNova, sans-serif;
	font-weight: 400;
	font-size: 14px;


}
.block-link{
	
	list-style: none;
	width: 270px;
	

}

.benefits-image{
	height: 60px;
}
.image-hover{
	width: 794px;
	height: 394px;
	position: relative;
	
}
.image-hover:before{
	content:'';
	
	position: absolute;
	width: 794px;
	height: 394px;
	background: rgba(0, 0, 0, 0.3);
	z-index: 1;
	opacity: 0;
	display: block;
	transition: all 1s;
}
.text-hover{
	position: absolute;
	text-align: center;
	z-index: 2;
	left: 280px;
	top: 150px;
	opacity: 0;
	transition: all 2s;

}
.image-hover:hover .text-hover{
	opacity: 1;
}
.image-hover:hover:before{
	opacity: 1;
}
.link{
	color: #a2ca28;
	font-family:OpenSans, sans-serif;
	font-weight: 400;
	    font-size: 14px;
}

.block{
	display: flex;
	justify-content: space-between;
	padding: 112px 11px 0 11px;
	width: 1188px;
	margin: 0 auto;
}
.block-one{
    display: flex;
  
     width: 1188px;
  
     margin: 0 auto;
   
}


.name{
	font-family:OpenSans, sans-serif;
	font-weight: 400;
	text-transform: none;
	font-size: 24px;
	color: white;
}
.name_one_Resourses{
	font-family:ProximaNova, sans-serif;
	font-weight: 400;
	padding: 25px 5px 22px 0;
	font-size: 14px;
	line-height:  1.7;
	color: white;

}
.name_one_Training{
	font-family:ProximaNova, sans-serif;
	font-weight: 400;
	padding:25px 5px 45px 0;
	font-size: 14px;
	line-height:  1.7;
	color: white;
}
.name_one_Connect{
	font-family:ProximaNova, sans-serif;
	font-weight: 400;
	padding: 25px 5px 22px 0;
	font-size: 14px;
	line-height:  1.7;
	color: white;
}
.name_one_Communicate{
	font-family:ProximaNova, sans-serif;
	font-weight: 400;
	padding: 25px 5px 45px 0;
	font-size: 14px;
	line-height:  1.7;
	color: white;
}
.size{
	    padding: 22px 1px 17px 0;
}
.text-one{
	
    padding: 40px 40px 50px 40px;
	text-align: center;
	background: #fff;
	  
} 
.title-one{
	color: #fd634e;
	font-size: 14px;
	text-transform: uppercase;
	font-family:OpenSans, sans-serif;
	font-weight: 400;
	letter-spacing: 2px;
	margin-top: 14px;
    margin-left: 7px;
}


.name_two{
	font-family:OpenSans, sans-serif;
	font-weight: 400;
	padding: 0 0px 5px 0;
    font-size: 13px;
    line-height: 2;
	color:#656e74;
	margin-right: 17px;
}
.input_one{
	color: #83969f;
	padding: 10px 22px 10px 20px;
	font-size: 14px;
	font-family:ProximaNova, sans-serif;
	font-weight: 400;
	width: 158px;
	margin: 0 6px 0 0;

}
.input_two{
	color: #83969f;
	padding: 10px 20px 10px 20px;
	font-size: 14px;
	font-family:ProximaNova, sans-serif;
	font-weight: 400;
	width: 296px;px;
	margin: 0 6px 0 0;

}
.inform{
	display: flex;
	justify-content: space-between;
	  

     margin-left: 53px;
}
.button{
	background: #a2ca28;
	font-size: 15px;
	padding: 11px 33px 10px 20px;
	font-family:ProximaNova, sans-serif;
	font-weight: 400; 
	color: white;
	width: 183px;
	border-radius: 5px;

}
.title-two{
	color: #a2ca28;
	font-size: 35px;
	text-transform: uppercase;
	font-family:OpenSans, sans-serif;
	font-weight: 100;
	margin-top: 7px;
    margin-left: 4px;
}

.menu_two{
	display: flex;

	justify-content: space-between;
	list-style: none;
    margin-left: 90px;
	padding: 0 40px 0px 50px;
	
}
.distance{
	margin: 0 14px 0 0;
}
@keyframes myAnimation{
	0%{
		width: 50px;
	    height: 50px; 
	}
	100%{
		width: 80px;
	    height: 80px;
	}
}

.icon{
	width: 50px;
	height: 50px;
	display: block;
	border-radius: 50%;
	position: relative;
	text-align: center;


}
.icon:hover{
	animation: myAnimation 1s;
}
.icon:before{
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	
	
	
}
.icon-fb{
	background: #15188c;
	
}
.icon-fb:before{
	
	background:url(./images/fb.png);
	background-size: 11px 19px;

	width: 11px;
	height: 19px;
	position: absolute;
	top: 16px;
	left:18px;

	

}
.icon-tw{
	background: #199ed0;
	

}
.icon-tw:before{
	
	background:url( ./images/tw.png);
	background-size: 19px 16px;
	width: 19px;
	height: 16px;
	position: absolute;
	top: 17px;
	left:17px;
	

}
.icon-yt{
	background: #ed3123;

}
.icon-yt:before{
	
	background:url(./images/yt.png); 
	background-size: 21px 16px;
	width: 21px;
	height: 16px;
	position: absolute;
	top: 17px;
	left:14px;
	

}
.icon-In{
	background: #171a8f;

}
.icon-In:before{
	
	background:url(./images/ln.png); 
	background-size: 19px 19px;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 15px;
	left:17px;
	

}


.container{
	width: 1188px;
	margin: 0 auto;
	padding: 69px 0px;
	display: flex;
	
}

.my-class-down{
	background: black;
	
}